@{
    ViewData["Title"] = "Archive";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Archive</h1>
    <p class="text-success">
        You are seeing this page because you have the 'IsVerifiedClient' claim.
    </p>
</div>